package layout

import "fmt"

templ Base(title, hashCss string) {
	<!DOCTYPE html>
	<html lang="en" class="dark font-DMMono">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content=""/>
			<meta name="google" content="notranslate"/>
			<link rel="stylesheet" href={ fmt.Sprintf("static/css/%s", hashCss) } type="text/css"/>
			<link
				rel="stylesheet"
				href="https://unpkg.com/franken-ui@2.0.0/dist/css/core.min.css"
			/>
			<script async defer src="https://beampipe.io/js/tracker.js" data-beampipe-domain="samuherek.com"></script>
			<title>Sam Uherek - { title }</title>
			<script>
                const htmlElement = document.documentElement;
              const __FRANKEN__ = JSON.parse(
                localStorage.getItem("__FRANKEN__") || "{}",
              );

              if (
                __FRANKEN__.mode === "dark" ||
                (!__FRANKEN__.mode &&
                  window.matchMedia("(prefers-color-scheme: dark)").matches)
              ) {
                htmlElement.classList.add("dark");
              } else {
                htmlElement.classList.remove("dark");
              }

              htmlElement.classList.add(__FRANKEN__.theme || "uk-theme-emerald");
              htmlElement.classList.add(__FRANKEN__.radii || "uk-radii-none");
              htmlElement.classList.add(__FRANKEN__.shadows || "uk-shadows-sm");
              htmlElement.classList.add(__FRANKEN__.font || "uk-font-lg");
            </script>
			<script>
                document.addEventListener("DOMContentLoaded", function() {
                    var switchEl = document.getElementById("switch");
                    var lightSwitch = document.getElementById("light-switch");
                    var darkSwitch = document.getElementById("dark-switch");
                    var darkName = document.getElementById("dark-name");
                    var lightName = document.getElementById("light-name");

                    if (!switchEl || !lightSwitch || !darkSwitch) {
                        console.wran("No switch for theme flipping");
                        return;
                    }

                    if (!darkName || !lightName) {
                        console.warn("No name items");
                    }
                    
                    switchEl.addEventListener("click", function() {
                        var htmlElement = document.documentElement;
                        if (htmlElement.classList.contains("dark")) {
                            htmlElement.classList.remove("dark");

                            lightSwitch.classList.add("hidden");
                            darkSwitch.classList.remove("hidden");
                            
                            darkName.classList.add("hidden");
                            lightName.classList.remove("hidden");
                        } else {
                            htmlElement.classList.add("dark");

                            lightSwitch.classList.remove("hidden");
                            darkSwitch.classList.add("hidden");

                            darkName.classList.remove("hidden");
                            lightName.classList.add("hidden");
                        }
                    });
                });
            </script>
		</head>
		<body class="bg-background text-foreground sample-transition p-4">
			{ children... }
		</body>
	</html>
}
