package pages

import "samuherek/layout"

templ Error404() {
	<section class="flex flex-col items-center justify-center h-[100vh] gap-4">
		<div class="items-center justify-center flex flex-col gap-4">
			<h1 class="text-7xl md:text-9xl font-extrabold tracking-widest text-center">
				<span
					class="text-yellow-500 uk-text-background w-52 md:w-auto"
					style="background-image: linear-gradient(90deg, #e4e405 0%, #f01ebb 100%)"
				>
					404
				</span>
			</h1>
		</div>
		<p class="text-md text-center text-neutral-500">
			The requested resource could not be found but may be available again in the future.
		</p>
		<a
			href="/"
			class="uk-btn uk-btn-text"
		>
			Go to safety
		</a>
	</section>
}

templ Error404Wrapper(
	title, hashCss string,
	cmp templ.Component,
) {
	@layout.Base(title, hashCss) {
		@cmp
	}
}
